<!--<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title>Listado de usuarios</title>
</head>
<body>
	
	<div th:include="spinner :: body"></div>
	
	
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
	
				
				<div th:include="logo :: body"></div>
	
				
				<div th:include="buscador :: body"></div>		
				
				
				<div th:class="header-menu-block">
					<button th:class="@{cmn-toggle-switch cmn-toggle-switch__htx}"></button>
					<ul th:class="header-menu" id="one">
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li><a th:href="@{/videos}">Listas</a></li>
						<li><a th:href="@{'/usuarios/perfil/' + ${logueado.id} + '/' + ${logueado.id}}">Perfil</a></li>
						<li><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a th:href="@{#}">Suscripción</a></li>
					</ul>
				</div>
				
				
				<div th:class="@{login-header-block}">
					<div th:class="@{login-block be-drop-down login-user-down}">
						<div th:switch="${usuario.foto}" th:class="@{login-user}">
							<img th:case="''" th:class="@{login-user custom-photo-size}" th:src="@{/img/ava_10.jpg}">
							<img th:case="*" th:class="@{login-user custom-photo-size}" th:src="@{'/usuarios/fotos/' + ${logueado.foto}}">
							<span th:class="@{be-drop-down-content}" th:text="@{'Hola, ' + ${logueado.nombre}}"></span>
						</div>
						<div th:each="rol : ${logueado.Roles}">
							<div th:if="${rol.rol} == 'ADMIN'">	
								<span th:class="drop-down-list">
									<a th:href="@{/admin/home}" th:text="@{'Administración'}"></a>
									<a th:href="@{'/usuarios/' + ${logueado.id}}" th:text="@{'Editar Perfil'}"></a>
								</span>
							</div>
							<div th:if="${rol.rol} != 'ADMIN'">	
								<span th:class="drop-down-list">
									<a th:href="@{'/usuarios/' + ${logueado.id}}" th:text="@{'Editar Perfil'}"></a>
								</span>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</header>
	
	
	<div th:id="@{content-block}" th:class="@{custom-container-5}">
		<div th:class="@{container be-detail-container}">
			<div th:class="@{col-xs-12 col-md-12}">
		    	<div th:class="@{tab-wrapper style-1}">
		        	<div th:class="@{tabs-content clearfix}">
		            	<div th:class="@{tab-info active}"> 
							<div th:class="@{row}">
								<div th:class="@{col-ml-12 col-xs-3 col-sm-3}" th:each="usuario,stat : ${usuarios}">
									<div th:class="@{be-post style-5}">
										<div align="center" th:class="@{be-img-block custom-video-perfil}">
											<div th:switch="${usuario.foto}">
												<div th:case="''">
													<a th:class="@{be-ava-user style-2}" th:href="@{'/usuarios/perfil/' + ${logueado.id} + '/' + ${usuario.id}}">
														<img th:src="@{'/img/ava_10.jpg'}" th:alt="@{''}"> 
													</a>
												</div>
												<div th:case="*">
													<a th:class="@{be-ava-user style-2}" th:href="@{'/usuarios/perfil/' + ${logueado.id} + '/' + ${usuario.id}}">
														<img th:src="@{'/usuarios/fotos/' + ${usuario.foto}}" th:alt="@{''}">
													</a>
												</div>
											</div>
											<div th:class="be-user-statistic">
												<div th:class="@{stat-row clearfix}">
													<a th:href="@{'/usuarios/perfil/' + ${logueado.id} + '/' + ${usuario.id}}">
														<i th:if="${segsig} == 'seguidores'"><i th:class="@{stat-icon icon-followers-b}"></i>Seguidor</i>
														<i th:if="${segsig} == 'siguiendo'"><i th:class="@{stat-icon icon-following-b}"></i>Siguiendo</i>
														<span th:class="stat-counter" th:text="${usuario.nombre}"></span>
													</a>
												</div>
												<div th:class="@{stat-row clearfix}">
													<a th:href="@{'/usuarios/perfil/' + ${logueado.id} + '/' + ${usuario.id}}">
														<i th:if="${segsig} == 'seguidores'" th:class="@{stat-icon icon-followers-b}"></i>
														<i th:if="${segsig} == 'siguiendo'" th:class="@{stat-icon icon-following-b}"></i>
														<span th:class="stat-counter" th:text="${usuario.apellidos}"></span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
		                 	</div>                         
		           		</div>
					</div> 				
				</div>				
			</div>
		</div>
	</div>
	
	<div th:include="footer :: div"></div>
</body>
</html>-->