<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title th:text="'Detalles ' + ${usuario.nombre} + ' ' + ${usuario.apellidos}"></title>
</head>
<body>
	<!-- THE LOADER -->
	<div th:include="spinner :: body"></div>
	<!-- THE HEADER -->
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
				<!-- THE LOGO -->
				<div th:include="logo :: body"></div>
				<div th:class="header-menu-block">
					<button th:class="@{cmn-toggle-switch cmn-toggle-switch__htx}"></button>
					<ul th:class="header-menu" id="one">
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li><a th:href="@{/videos}">Listas</a></li>
						<li><a th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${usuario.id}}">Perfil</a></li>
						<li><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a th:href="@{#}">Suscripción</a></li>
					</ul>
				</div>
				<!-- THE HELLO USER -->
				<div th:include="hellouser :: body"></div>
			</div>
		</div>
	</header>
	<!-- MAIN CONTENT -->
	<div th:id="@{content-block}">
		<div th:class="@{container be-detail-container}">
			<div th:class="@{col-xs-12 col-md-12 _editor-content_}">
				<div th:class="@{affix-block}" th:id="@{basic-information}">
					<form method="POST" enctype="multipart/form-data" th:action="@{'/usuarios/detalle/' + ${usuario.id}}">
					<div th:class="@{be-large-post}">
						<div th:class="@{info-block style-2}">
							<div th:class="@{be-large-post-align}">
								<h3 th:class="@{info-block-label}">Editar Perfil</h3>
							</div>
						</div>
						<div th:class="@{be-large-post-align}">
							<div th:class="@{be-change-ava}">
								<input type="submit" th:href="@{'/usuarios/detalle/' + ${usuario.id}}" th:class="@{custom-float-right btn color-1 size-2 hover-7}" th:value="@{'Guardar Cambios'}">
								<a th:switch="${usuario.foto}" th:class="@{be-ava-user style-2}" th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${usuario.id}}">
									<img th:case="'img/ava_10.jpg'" th:src="@{'/img/ava_10.jpg'}" th:alt="@{''}"> 
									<img th:case="*" th:src="@{'/usuarios/fotos/' + ${usuario.foto}}" th:alt="@{''}"> 
								</a>
								<div>
									<label th:class="@{btn color-4 size-2 hover-7 pull-left}">
										<i th:class="@{fa fa-pencil}"></i>Foto
										<input type="file" name="foto" id="foto" hidden="hidden">
									</label>
								</div>
							</div>
						</div>
						<div th:class="@{be-large-post-align}">
							<div th:class="@{row}">
								<div th:class="@{input-col col-xs-12 col-sm-12 custom-margin-head}">
									<div th:class="@{form-group focus-2}">
										<div th:class="@{form-label}">Nombre</div>
										<input th:class="@{form-input}" type="text" name="nombre" id="nombre" th:value="${usuario.nombre}">
									</div>							
								</div>
								<div th:class="@{input-col col-xs-12 col-sm-12}">
									<div th:class="@{form-group focus-2}">
										<div th:class="@{form-label}">Apellidos</div>									
										<input th:class="@{form-input}" type="text" name="apellidos" id="apellidos" th:value="${usuario.apellidos}">
									</div>								
								</div>
								<div th:class="@{input-col col-xs-12 col-sm-12}">
									<div th:class="@{form-group focus-2}">
										<div th:class="@{form-label}">Email</div>									
										<input th:class="@{form-input}" type="text" name="mail" id="mail" th:value="${usuario.mail}">
									</div>								
								</div>
								<div th:class="@{input-col col-xs-12 col-sm-12}">
									<div th:class="@{form-group focus-2}">
										<div th:class="@{form-label}">Intereses</div>
										<div th:each="interes : ${intereses}">
											<div th:switch="${interes}">
												<i th:case="'salir0'" th:class="@{form-control custom-margin background-custom}">
													<input th:class="@{custom-margin-icon form-checkbox}" type="checkbox"  name="chksalir" id="chksalir" th:checked="checked">
													<i th:class="@{custom-margin-icon fa fa-glass}"></i>Fiesta
												</i>
												<i th:case="'salir1'" th:class="@{form-control custom-margin background-custom}">
													<input th:class="@{custom-margin-icon form-checkbox}" type="checkbox"  name="chksalir" id="chksalir">
													<i th:class="@{custom-margin-icon fa fa-glass}"></i>Fiesta
												</i>
												<i th:case="'musica0'" th:class="@{form-control custom-margin background-custom}">
													<input th:class="@{custom-margin-icon form-checkbox}" type="checkbox"  name="chkmusica" id="chkmusica" th:checked="checked">
													<i th:class="@{custom-margin-icon fa fa-music}"></i>Música
												</i>
												<i th:case="'musica1'" th:class="@{form-control custom-margin background-custom}">
													<input th:class="@{custom-margin-icon form-checkbox}" type="checkbox"  name="chkmusica" id="chkmusica">
													<i th:class="@{custom-margin-icon fa fa-music}"></i>Música
												</i>
												<i th:case="'dinero0'" th:class="@{form-control custom-margin background-custom}">
													<input th:class="@{custom-margin-icon form-checkbox}" type="checkbox"  name="chkdinero" id="chkdinero" th:checked="checked">
													<i th:class="@{custom-margin-icon fa fa-eur}"></i>Dinero
												</i>
												<i th:case="'dinero1'" th:class="@{form-control custom-margin background-custom}">
													<input th:class="@{custom-margin-icon form-checkbox}" type="checkbox"  name="chkdinero" id="chkdinero">
													<i th:class="@{custom-margin-icon fa fa-eur}"></i>Dinero
												</i>
												<i th:case="'deporte0'" th:class="@{form-control custom-margin background-custom}">
													<input th:class="@{custom-margin-icon form-checkbox}" type="checkbox"  name="chkdeporte" id="chkdeporte" th:checked="checked">
													<i th:class="@{custom-margin-icon fa fa-dribbble}"></i>Deporte
												</i>
												<i th:case="'deporte1'" th:class="@{form-control custom-margin background-custom}">
													<input th:class="@{custom-margin-icon form-checkbox}" type="checkbox"  name="chkdeporte" id="chkdeporte">
													<i th:class="@{custom-margin-icon fa fa-dribbble}"></i>Deporte
												</i>
											</div>
										</div>
									</div>								
								</div>								
							</div>
						</div>
					</div>
					</form>
				</div>
				<div th:class="@{affix-block}" th:id="@{edit-password}">
					<div th:class="@{be-large-post}">
						<div th:class="@{info-block style-2}">
							<div th:class="@{be-large-post-align}">
								<h3 th:class="@{info-block-label}">Clave</h3>
							</div>
						</div>
						<div th:class="@{be-large-post-align}">
							<div th:class="@{row}">
								<div th:class="@{input-col col-xs-12 col-sm-4}">
									<div th:class="@{form-group focus-2}">
										<div th:class="@{form-label}">Antigua Clave</div>									
										<input th:class="@{form-input}" type="password" th:placeholder="@{''}">
									</div>								
								</div>
								<div th:class="@{input-col col-xs-12 col-sm-4}">
									<div th:class="@{form-group focus-2}">
										<div th:class="@{form-label}">Nueva Clave</div>									
										<input th:class="@{form-input}" type="password" th:placeholder="@{''}">
									</div>								
								</div>
								<div th:class="@{input-col col-xs-12 col-sm-4}">
									<div th:class="@{form-group focus-2}">
										<div th:class="@{form-label}">Repetir Clave</div>									
										<input th:class="@{form-input}" type="password" th:placeholder="@{''}">
									</div>								
								</div>
								<div th:class="@{col-xs-12}">
									<a th:class="@{btn color-1 size-2 hover-1 btn-right}">Cambiar Clave</a>
								</div>																
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- THE FOOTER -->
	<div th:include="footer :: div"></div>
</body>
</html>