<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title>Listado de usuarios</title>
</head>
<body>
	<!-- THE LOADER -->
	<div th:include="spinner :: body"></div>
	
	<!-- THE HEADER -->
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
	
				<!-- THE LOGO -->
				<div th:include="logo :: body"></div>
	
				<!-- THE SEARCH -->
				<div th:include="buscausers :: body"></div>		
				
				<!-- THE MENU -->
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul th:class="header-menu" id="one">
						<li th:if="${usuario.roles[0].rol} == 'ADMIN'" class="administracion"><a th:href="@{/home/admin}">Administración</a></li>
						<li class="perfil"><a th:href="@{'/usuarios/detalle/no/' + ${logueado.id} + '/' + ${usuario.id}}">Editar Perfil</a></li>
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li><a th:href="@{/videos/listado}">Listas</a></li>
						<li><a th:href="@{'/usuarios/perfil/perfilog/' + ${logueado.id}}">Perfil</a></li>
						<li><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a>Suscripción</a></li>
						<li class="exit"><a th:href="@{/logout}">Logout</a></li>
						<li class="buscadormenu2"><div th:include="buscausersmenu :: body"></div></li>
					</ul>
				</div>
				
				<!-- THE LOGOUT -->
				<div th:include="logout :: body"></div>
				
				<!-- THE HELLO USER -->
				<div th:class="@{hellouser login-header-block be-drop-down login-user-down}">
					<div th:switch="${usuario.foto}">
						<div th:case="''">
							<img th:class="@{login-user custom-photo-size}" th:src="@{/img/ava_10.jpg}">
							<span th:class="@{color-white}" th:text="@{'Hola, ' + ${logueado.nombre}}"></span>
						</div>
						<div th:case="*">
							<img th:class="@{login-user custom-photo-size}" th:src="@{'/usuarios/fotos/' + ${logueado.foto}}">
							<span th:class="@{color-white}" th:text="@{'Hola, ' + ${logueado.nombre}}"></span>
						</div>
					</div>
					<div th:class="@{color-white}" th:each="rol : ${usuario.Roles}">
						<div th:if="${rol.rol} == 'ADMIN'">
							<span th:class="drop-down-list">
								<a th:href="@{/admin/home}" th:text="@{'Administración'}"></a>
								<a th:href="@{'/usuarios/detalle/no/' + ${logueado.id} + '/' + ${usuario.id}}" th:text="@{'Editar Perfil'}"></a>
							</span>
						</div>
						<div th:if="${rol.rol} != 'ADMIN'">	
							<span th:class="drop-down-list">
								<a th:href="@{'/usuarios/detalle/no/' + ${logueado.id} + '/' + ${usuario.id}}" th:text="@{'Editar Perfil'}"></a>
							</span>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</header>
	
	<!-- MAIN CONTENT -->
	<div th:id="@{content-block}" th:class="@{custom-container-5}">
		<div th:class="@{container be-detail-container}">
			<div th:class="@{col-xs-12 col-md-12}">
		    	<div th:class="@{tab-wrapper style-1}">
		        	<div th:class="@{tabs-content clearfix}">
		            	<div th:class="@{tab-info active}"> 
							<div th:class="@{row}">
								<div th:class="@{col-ml-12 col-xs-3 col-sm-3}" th:each="usuario,stat : ${usuarios}">
									<div th:class="@{be-post style-5}">
										<div align="center" th:class="@{be-img-block custom-video-perfil}">
											<div th:switch="${usuario.foto}">
												<div th:case="''">
													<a th:class="@{be-ava-user style-2}" th:href="@{'/usuarios/perfil/perfil/' + ${usuario.id}}">
														<img th:src="@{'/img/ava_10.jpg'}" th:alt="@{''}"> 
													</a>
												</div>
												<div th:case="*">
													<a th:class="@{be-ava-user style-2}" th:href="@{'/usuarios/perfil/perfil/' + ${usuario.id}}">
														<img th:src="@{'/usuarios/fotos/' + ${usuario.foto}}" th:alt="@{''}">
													</a>
												</div>
											</div>
											<div th:class="be-user-statistic">
												<div th:class="@{stat-row clearfix}">
													<a th:href="@{'/usuarios/perfil/perfil/' + ${usuario.id}}">
														<i th:if="${segsig} == 'seguidores'" class="color-white"><i th:class="@{stat-icon icon-followers}"></i>Seguidor</i>
														<i th:if="${segsig} == 'siguiendo'" class="color-white"><i th:class="@{stat-icon icon-following}"></i>Siguiendo</i>
														<span th:class="@{stat-counter color-white}" th:text="${usuario.nombre}"></span>
													</a>
												</div>
												<div th:class="@{stat-row clearfix}">
													<a th:href="@{'/usuarios/perfil/perfil/' + ${usuario.id}}">
														<i th:if="${segsig} == 'seguidores'" th:class="@{stat-icon icon-followers}"></i>
														<i th:if="${segsig} == 'siguiendo'" th:class="@{stat-icon icon-following}"></i>
														<span th:class="@{stat-counter color-white}" th:text="${usuario.apellidos}"></span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
		                 	</div>                         
		           		</div>
					</div>
					<div th:switch="${search}=='0' and ${nombre}==null and ${apellidos}==null">
						<div th:case="true" th:class="@{pagination}">
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active-5} + '/0'}" th:if="${pages} > 5 and ${page} >= 5">&laquo;</a>
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active} + '/0'}" th:if="${page-active}<=${pages-1} and ${page-active}==${page} and ${pages} > 1" class="active" th:text="${page - active + 1}"></a>
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active} + '/0'}" th:if="${page-active}<=${pages-1} and ${page-active}!=${page} and ${pages} > 1" th:text="${page - active + 1}"></a>
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+1} + '/1'}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}==${page} and ${pages} > 1" class="active" th:text="${page - active + 2}"></a>
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+1} + '/1'}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}!=${page} and ${pages} > 1" th:text="${page - active + 2}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+2} + '/2'}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}==${page} and ${pages} > 1" class="active" th:text="${page - active + 3}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+2} + '/2'}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}!=${page} and ${pages} > 1" th:text="${page - active + 3}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+3} + '/3'}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}==${page} and ${pages} > 1" class="active" th:text="${page - active + 4}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+3} + '/3'}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}!=${page} and ${pages} > 1" th:text="${page - active + 4}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+4} + '/4'}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}==${page} and ${pages} > 1" class="active" th:text="${page - active + 5}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+4} + '/4'}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}!=${page} and ${pages} > 1" th:text="${page - active + 5}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+5} + '/0'}" th:if="${pages} > 5 and ${page-active+5} < ${pages}">&raquo;</a>
						</div>
						<div th:case="false" th:class="@{pagination}">
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active-5} + '/0/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${pages} > 5 and ${page} >= 5">&laquo;</a>
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active} + '/0/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active}<=${pages-1} and ${page-active}==${page} and ${pages} > 1" class="active" th:text="${page - active + 1}"></a>
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active} + '/0/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active}<=${pages-1} and ${page-active}!=${page} and ${pages} > 1" th:text="${page - active + 1}"></a>
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+1} + '/1/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}==${page} and ${pages} > 1" class="active" th:text="${page - active + 2}"></a>
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+1} + '/1/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}!=${page} and ${pages} > 1" th:text="${page - active + 2}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+2} + '/2/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}==${page} and ${pages} > 1" class="active" th:text="${page - active + 3}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+2} + '/2/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}!=${page} and ${pages} > 1" th:text="${page - active + 3}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+3} + '/3/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}==${page} and ${pages} > 1" class="active" th:text="${page - active + 4}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+3} + '/3/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}!=${page} and ${pages} > 1" th:text="${page - active + 4}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+4} + '/4/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}==${page} and ${pages} > 1" class="active" th:text="${page - active + 5}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+4} + '/4/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}!=${page} and ${pages} > 1" th:text="${page - active + 5}"></a>				  
						  <a th:href="@{'/usuarios/listado/' + ${segsig} + '/' + ${usuario.id} + '/' + ${page-active+5} + '/0/' + ${search} + '/' + ${nombre} + '/' + ${apellidos}}" th:if="${pages} > 5 and ${page-active+5} < ${pages}">&raquo;</a>
						</div>	
					</div>			
				</div>				
			</div>
		</div>
		<div th:if="${pages} > 1" th:class="be-user-statisticUsuario">
			<div th:class="@{stat-rowUsuario}">
				<span th:class="@{color-white}">Resultados por página</span>
				<div th:class="@{paginationCustom}">
					<form method="POST" th:action="@{'/usuarios/listado/' + ${segsig} + '/' + ${logueado.id} + '/' + ${usuario.id}}">
						<select id="UsuariosPorPagina" name="UsuariosPorPagina" th:class="@{be-custom-select pull-left}">
							<option value="8" th:class="@{color-blue}" selected>...</option>
						  	<option value="todos" th:class="@{color-blue}">Todos</option>
						  	<option value="100" th:class="@{color-blue}">100</option>
						  	<option value="50" th:class="@{color-blue}">50</option>
						  	<option value="40" th:class="@{color-blue}">40</option>
						  	<option value="30" th:class="@{color-blue}">30</option>
						  	<option value="20" th:class="@{color-blue}">20</option>
						  	<option value="10" th:class="@{color-blue}">10</option>
						  	<option value="8" th:class="@{color-blue}">8</option>
						  	<option value="6" th:class="@{color-blue}">6</option>
						  	<option value="4" th:class="@{color-blue}">4</option>
						  	<option value="2" th:class="@{color-blue}">2</option>
						  	<option value="1" th:class="@{color-blue}">1</option>
						</select>
						<input type="submit" name="paginator" id="paginator" class="fa fa-check color-white login-header-block btn color-1 size-2 hover-1 pull-left custom-margin-icon" value="Ir">
					</form>
				</div>
			</div>
		</div> 
	</div>
	
	<!-- THE FOOTER -->
	<div th:include="footer :: div"></div>
</body>
</html>