<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title>Listado de vídeos</title>
</head>
<body>
	<!-- THE LOADER -->
	<div th:include="spinner :: body"></div>
	
	<!-- THE HEADER -->
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
	
				<!-- THE LOGO -->
				<div th:include="logo :: body"></div>
	
				<!-- THE SEARCH -->
				<div th:include="buscador :: body"></div>	
				
				<!-- THE MENU -->			
				<div th:class="@{header-menu-block}">
					<button th:class="@{cmn-toggle-switch cmn-toggle-switch__htx}"></button>
					<ul th:class="header-menu" id="one">
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li th:class="active-header"><a th:href="@{/videos}">Listas</a></li>
						<li><a th:href="@{/usuarios/perfil}">Perfil</a></li>
						<li><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a th:href="@{#}">Suscripción</a></li>
					</ul>
				</div>
				
				<!-- THE HELLO USER -->
				<div th:include="hellouser :: body"></div>
			</div>
		</div>
	</header>
	
	<!-- MAIN CONTENT -->
	<div th:id="@{content-block}">
		<div th:class="@{container-fluid custom-container be-detail-container custom-font}">
			<div th:class="@{row}">
				<div th:class="@{col-lg-6 col-md-6 col-sm-12 col-xs-12 col-ml-12 col-xl-4}" th:each="video,stat : ${videos}" th:with="gusta=${likes[stat.index]}">
					<div th:class="@{be-post style-5}">
						<div align="center">
							<form method="POST" th:id="this" th:with="vidd=${video.nombre}" th:action="@{'/videos/misvideos/' + ${usuario.id} + '/' + ${usuario.id} + '/' + ${video.id} + '/' + ${video.visualizaciones} + '/listas'}">
								<video controls th:class="@{be-img-block}" onended="visitsListas();viewsListas(this);">
									<source th:src="'/videos/' + ${video.nombre}">
								</video>
							</form>
						</div>
						<div th:class="@{be-rowline}">
							<ul>
								<li>
									<a th:class="@{rowline-text}" th:href="@{'/comentarios/' + ${usuario.id} + '/' + ${usuario.id} + '/' + ${video.id} + '/' + ${gusta}}" th:text="${video.titulo}"></a>
									<i th:each="genero : ${video.VideoGeneros}">
	    								<a th:class="@{rowline-text pull-right}" th:href="@{#}" th:text="@{'#' + ${genero.nombre} + ' '}"></a>
	    							</i>
	    						</li>
	    					</ul>
	    				</div>
	    				<div th:class="@{be-rowline}">
	    					<ul>
								<li><a th:class="@{rowline-text}" th:href="@{#}" th:text="${video.descripcion}"></a></li>
							</ul>
						</div>
						<div th:class="@{be-rowline}">
							<i th:class="@{fa fa-calendar}">
								<span th:class="@{custom-td-font}"></span>
								<span th:class="@{rowline-text}" th:text="${#dates.format(video.creacion, 'dd-MM-yyyy HH:mm')}"></span>
							</i>
							<a th:href="@{'mailto:'+ ${mailadmin}}">
								<img th:class="@{stat-icon pull-right}" th:src="@{/img/block-16x16.png}" alt="Denunciar video">
							</a>
							<a th:href="@{'/comentarios/' + ${usuario.id} + '/' + ${usuario.id} + '/' + ${video.id} + '/' + ${gusta}}">
								<span th:class="@{pull-right custom-margin-icon}">
									<i th:class="@{stat-icon icon-comment}"></i>
								</span>
							</a>
						</div>
						<div th:class="@{author-post}" th:switch="${video.usuario.foto}"> 
							<a th:case="''" th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${video.usuario.id} + '/0/0'}">
								<img th:src="@{/img/ava_10.jpg}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<a th:case="*" th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${video.usuario.id} + '/0/0'}">
								<img th:src="@{'/usuarios/fotos/' + ${video.usuario.foto}}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<div th:class="@{pull-right}">
								<a th:if="${gusta} == true" th:href="@{'/comentarios/' + ${usuario.id} + '/' + ${usuario.id} + '/' + ${video.id} + '/' + ${true} + '/listas'}">
									<i th:class="@{stat-icon icon-like-b}"></i>
								</a>
								<a th:if="${gusta} == false" th:href="@{'/comentarios/' + ${usuario.id} + '/' + ${usuario.id} + '/' + ${video.id} + '/' + ${false} + '/listas'}">
									<i th:class="@{stat-icon icon-like}"></i>
								</a>
								<i th:text="${video.likes}"></i>
								<i th:if="${video.visualizaciones} == 0">
									<i th:class="@{stat-icon icon-views}"></i>&nbsp;<i th:id="visitListas" th:text="${video.visualizaciones}"></i>
								</i> 
								<i th:if="${video.visualizaciones} > 0">
									<i th:class="@{stat-icon icon-views-b}"></i>&nbsp;<i th:id="visitListas" th:text="${video.visualizaciones}"></i>
								</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:class="@{pagination}">
				  <a th:href="@{'/videos/listado/' + ${page-active-5} + '/0/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${pages} > 5 and ${page} >= 5">&laquo;</a>
				  <a th:href="@{'/videos/listado/' + ${page-active} + '/0/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active}<=${pages-1} and ${page-active}==${page} and ${pages} > 1" class="active" th:text="${page - active + 1}"></a>
				  <a th:href="@{'/videos/listado/' + ${page-active} + '/0/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active}<=${pages-1} and ${page-active}!=${page} and ${pages} > 1" th:text="${page - active + 1}"></a>
				  <a th:href="@{'/videos/listado/' + ${page-active+1} + '/1/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}==${page} and ${pages} > 1" class="active" th:text="${page - active + 2}"></a>
				  <a th:href="@{'/videos/listado/' + ${page-active+1} + '/1/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}!=${page} and ${pages} > 1" th:text="${page - active + 2}"></a>				  
				  <a th:href="@{'/videos/listado/' + ${page-active+2} + '/2/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}==${page} and ${pages} > 1" class="active" th:text="${page - active + 3}"></a>				  
				  <a th:href="@{'/videos/listado/' + ${page-active+2} + '/2/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}!=${page} and ${pages} > 1" th:text="${page - active + 3}"></a>				  
				  <a th:href="@{'/videos/listado/' + ${page-active+3} + '/3/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}==${page} and ${pages} > 1" class="active" th:text="${page - active + 4}"></a>				  
				  <a th:href="@{'/videos/listado/' + ${page-active+3} + '/3/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}!=${page} and ${pages} > 1" th:text="${page - active + 4}"></a>				  
				  <a th:href="@{'/videos/listado/' + ${page-active+4} + '/4/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}==${page} and ${pages} > 1" class="active" th:text="${page - active + 5}"></a>				  
				  <a th:href="@{'/videos/listado/' + ${page-active+4} + '/4/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}!=${page} and ${pages} > 1" th:text="${page - active + 5}"></a>				  
				  <a th:href="@{'/videos/listado/' + ${page-active+5} + '/0/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${pages} > 5 and ${page-active+5} < ${pages}">&raquo;</a>
			</div>
		</div>
	</div>
	
	<!-- THE FOOTER -->
	<div th:include="footer :: div"></div>
</body>
</html>
