<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title>Listado de vídeos</title>
</head>
<body>
	<!-- THE LOADER -->
	<div th:include="spinner :: body"></div>
	
	<!-- THE HEADER -->
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
	
				<!-- THE LOGO -->
				<div th:include="logo :: body"></div>
	
				<!-- THE SEARCH -->
				<div th:include="buscador :: body"></div>	
				
				<!-- THE MENU -->
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul th:class="header-menu" id="one">
						<li th:if="${usuario.roles[0].rol} == 'ADMIN'" class="administracion"><a th:href="@{/home/admin}">Administración</a></li>
						<li class="perfil"><a th:href="@{'/usuarios/detalle/no/' + ${usuario.id} + '/' + ${usuario.id}}">Editar Perfil</a></li>
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li class="active-header"><a th:href="@{/videos/listado}">Listas</a></li>
						<li><a th:href="@{'/usuarios/perfil/perfilog/' + ${usuario.id}}">Perfil</a></li>
						<li><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a>Suscripción</a></li>
						<li class="exit"><a th:href="@{/logout}">Logout</a></li>
						<li class="buscadormenu2"><div th:include="buscadormenu :: body"></div></li>
					</ul>
				</div>
				
				<!-- THE LOGOUT -->
				<div th:include="logout :: body"></div>
				
				<!-- THE HELLO USER -->
				<div th:include="hellouser :: body"></div>
			</div>
		</div>
	</header>
	
	<!-- MAIN CONTENT -->
	<div th:id="@{content-block}">
		<div th:class="@{container-fluid custom-container be-detail-container custom-font}">
			<div th:class="@{row}">
				<div th:class="@{col-lg-6 col-md-6 col-sm-12 col-xs-12 col-ml-12 col-xl-4}" th:each="video,stat : ${videos}" th:with="gusta=${likes[stat.index]}">
					<div th:class="@{be-post style-5}">
						<div align="center">
							<div th:onmouseover="'javascript:Play(\''+${video.id}+'\')'" th:onmouseout="'javascript:Pause(\''+${video.id}+'\')'">
								<video th:id="'v'+${video.id}" controls th:class="@{be-img-block}" th:onended="'javascript:visualizaciones(\''+${video.id}+'\',\''+${video.visualizaciones}+'\')'">
									<source th:src="'/videos/' + ${video.nombre}">
								</video>
							</div>
						</div>
						<div th:class="@{be-rowline}">
							<ul>
								<li>
									<form method="GET" th:action="@{/comentarios}">
										<label th:class="custom-cursor">
											<input type="submit" hidden="hidden">
											<input type="hidden" id="pinchadoId" name="pinchadoId" th:value="${video.usuario.id}">
											<input type="hidden" id="videoId" name="videoId" th:value="${video.id}">
											<i th:switch="${logueado.id} == ${usuario.id}">
												<input th:case="true" type="hidden" id="view" name="view" th:value="perfilog">
												<input th:case="false" type="hidden" id="view" name="view" th:value="perfil">
											</i>
											<i th:class="@{rowline-text}" th:text="${video.titulo}"></i>
										</label>
										<i th:each="genero : ${video.VideoGeneros}">
	    									<i th:class="@{rowline-text pull-right}" th:text="@{'#' + ${genero.nombre} + ' '}"></i>
	    								</i>
	    							</form>
	    						</li>
	    					</ul>
	    				</div>
	    				<div th:class="@{be-rowline}">
	    					<ul>
								<li>
									<textarea th:class="@{rowline-text custom-width}" th:text="${video.descripcion}" readonly="readonly">
									</textarea>
								</li>
							</ul>
						</div>
						<div th:class="@{be-rowline}">
							<form method="GET" th:action="@{/comentarios}">
								<i th:class="@{fa fa-calendar}">
									<span th:class="@{custom-td-font}"></span>
									<span th:class="@{rowline-text}" th:text="${#dates.format(video.creacion, 'dd-MM-yyyy HH:mm')}"></span>
								</i>
								<a th:href="@{'mailto:'+ ${mailadmin}}">
									<img th:class="@{stat-icon pull-right}" th:src="@{/img/block-16x16.png}" alt="Denunciar video">
								</a>
								<label th:class="@{custom-cursor pull-right}">
									<input type="submit" hidden="hidden">
									<input type="hidden" id="pinchadoId" name="pinchadoId" th:value="${video.usuario.id}">
									<input type="hidden" id="videoId" name="videoId" th:value="${video.id}">
									<i th:switch="${logueado.id} == ${usuario.id}">
										<input th:case="true" type="hidden" id="view" name="view" th:value="perfilog">
									    <input th:case="false" type="hidden" id="view" name="view" th:value="perfil">
									</i>
									<span th:class="@{custom-margin-icon}">
										<i th:class="@{stat-icon icon-comment}"></i>
									</span>
								</label>
							</form>
						</div>
						<div th:class="@{be-rowline row}">
							<div class="sharethis-inline-share-buttons"></div>
						</div>
						<div th:class="@{author-post}"> 
							<a th:if="${logueado.id}==${video.usuario.id} and ${video.usuario.foto}==''" th:href="@{'/usuarios/perfil/perfilog/' + ${video.usuario.id}}">
								<img th:src="@{/img/ava_10.jpg}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<a th:if="${logueado.id}!=${video.usuario.id} and ${video.usuario.foto}==''" th:href="@{'/usuarios/perfil/perfil/' + ${video.usuario.id}}">
								<img th:src="@{/img/ava_10.jpg}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<a th:if="${logueado.id}==${video.usuario.id} and ${video.usuario.foto}!=''" th:href="@{'/usuarios/perfil/perfilog/' + ${video.usuario.id}}">
								<img th:src="@{'/usuarios/fotos/' + ${video.usuario.foto}}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<a th:if="${logueado.id}!=${video.usuario.id} and ${video.usuario.foto}!=''" th:href="@{'/usuarios/perfil/perfil/' + ${video.usuario.id}}">
								<img th:src="@{'/usuarios/fotos/' + ${video.usuario.foto}}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<div th:class="@{pull-right}">
								<a class="megusta" th:if="${gusta} == true" th:onclick="'javascript:likes(\''+${usuario.id}+'\',\''+${video.id}+'\')'">
									<i th:id="'t'+${video.id}" th:class="@{stat-icon icon-like-b}"></i>
									<i th:id="'f'+${video.id}"></i>
								</a>									
								<a class="megusta" th:if="${gusta} == false" th:onclick="'javascript:likes(\''+${usuario.id}+'\',\''+${video.id}+'\')'">
									<i th:id="'t'+${video.id}"></i>
									<i th:id="'f'+${video.id}" th:class="@{stat-icon icon-like}"></i>
								</a>
								<i th:id="${video.id}" th:text="${video.likes}"></i>
								<i th:if="${video.visualizaciones} == 0">
									<i th:id="'i'+${video.id}" th:class="@{stat-icon icon-views}"></i>&nbsp;<i th:id="@{'visitInicio'+${video.id}}" th:text="0"></i>
								</i> 
								<i th:if="${video.visualizaciones} > 0">
									<i th:class="@{stat-icon icon-views-b}"></i>&nbsp;<i th:id="@{'visitInicio'+${video.id}}" th:text="${video.visualizaciones}"></i>
								</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:switch="${search}==null and ${visitas}==null and ${gustas}==null and ${titulo}==null and ${descripcion}==null and ${genero}==null and ${user}==null">
				<div th:case="true" th:class="@{pagination}">
					  <a th:href="@{'/videos/listado/' + ${page-active-5} + '/0'}" th:if="${pages} > 5 and ${page} >= 5">&laquo;</a>
					  <a th:href="@{'/videos/listado/' + ${page-active} + '/0'}" th:if="${page-active}<=${pages-1} and ${page-active}==${page} and ${pages} > 1" class="active" th:text="${page - active + 1}"></a>
					  <a th:href="@{'/videos/listado/' + ${page-active} + '/0'}" th:if="${page-active}<=${pages-1} and ${page-active}!=${page} and ${pages} > 1" th:text="${page - active + 1}"></a>
					  <a th:href="@{'/videos/listado/' + ${page-active+1} + '/1'}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}==${page} and ${pages} > 1" class="active" th:text="${page - active + 2}"></a>
					  <a th:href="@{'/videos/listado/' + ${page-active+1} + '/1'}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}!=${page} and ${pages} > 1" th:text="${page - active + 2}"></a>				  
					  <a th:href="@{'/videos/listado/' + ${page-active+2} + '/2'}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}==${page} and ${pages} > 1" class="active" th:text="${page - active + 3}"></a>				  
					  <a th:href="@{'/videos/listado/' + ${page-active+2} + '/2'}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}!=${page} and ${pages} > 1" th:text="${page - active + 3}"></a>				  
					  <a th:href="@{'/videos/listado/' + ${page-active+3} + '/3'}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}==${page} and ${pages} > 1" class="active" th:text="${page - active + 4}"></a>				  
					  <a th:href="@{'/videos/listado/' + ${page-active+3} + '/3'}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}!=${page} and ${pages} > 1" th:text="${page - active + 4}"></a>				  
					  <a th:href="@{'/videos/listado/' + ${page-active+4} + '/4'}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}==${page} and ${pages} > 1" class="active" th:text="${page - active + 5}"></a>				  
					  <a th:href="@{'/videos/listado/' + ${page-active+4} + '/4'}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}!=${page} and ${pages} > 1" th:text="${page - active + 5}"></a>				  
					  <a th:href="@{'/videos/listado/' + ${page-active+5} + '/0'}" th:if="${pages} > 5 and ${page-active+5} < ${pages}">&raquo;</a>
				</div>
				<div th:case="false" th:class="@{pagination}">
			  		<a th:href="@{'/videos/listado/' + ${page-active-5} + '/0/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${pages} > 5 and ${page} >= 5">&laquo;</a>
				  	<a th:href="@{'/videos/listado/' + ${page-active} + '/0/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active}<=${pages-1} and ${page-active}==${page} and ${pages} > 1" class="active" th:text="${page - active + 1}"></a>
				  	<a th:href="@{'/videos/listado/' + ${page-active} + '/0/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active}<=${pages-1} and ${page-active}!=${page} and ${pages} > 1" th:text="${page - active + 1}"></a>
				  	<a th:href="@{'/videos/listado/' + ${page-active+1} + '/1/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}==${page} and ${pages} > 1" class="active" th:text="${page - active + 2}"></a>
				  	<a th:href="@{'/videos/listado/' + ${page-active+1} + '/1/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+1}<=${pages-1} and ${page-active+1}!=${page} and ${pages} > 1" th:text="${page - active + 2}"></a>				  
				  	<a th:href="@{'/videos/listado/' + ${page-active+2} + '/2/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}==${page} and ${pages} > 1" class="active" th:text="${page - active + 3}"></a>				  
				  	<a th:href="@{'/videos/listado/' + ${page-active+2} + '/2/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+2}<=${pages-1} and ${page-active+2}!=${page} and ${pages} > 1" th:text="${page - active + 3}"></a>				  
				  	<a th:href="@{'/videos/listado/' + ${page-active+3} + '/3/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}==${page} and ${pages} > 1" class="active" th:text="${page - active + 4}"></a>				  
				  	<a th:href="@{'/videos/listado/' + ${page-active+3} + '/3/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+3}<=${pages-1} and ${page-active+3}!=${page} and ${pages} > 1" th:text="${page - active + 4}"></a>				  
				  	<a th:href="@{'/videos/listado/' + ${page-active+4} + '/4/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}==${page} and ${pages} > 1" class="active" th:text="${page - active + 5}"></a>				  
			  	  	<a th:href="@{'/videos/listado/' + ${page-active+4} + '/4/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${page-active+4}<=${pages-1} and ${page-active+4}!=${page} and ${pages} > 1" th:text="${page - active + 5}"></a>				  
				  	<a th:href="@{'/videos/listado/' + ${page-active+5} + '/0/' + ${search} + '/' + ${visitas} + '/' + ${gustas} + '/' + ${titulo} + '/' + ${descripcion} + '/' + ${genero} + '/' + ${user}}" th:if="${pages} > 5 and ${page-active+5} < ${pages}">&raquo;</a>
				</div>
			</div>
		</div>
		<div th:if="${elements} > 1" th:class="be-user-statisticInicioListas">
			<div th:class="@{stat-rowInicioListas}">
				<span th:class="@{color-white}">Resultados por página</span>
				<div th:class="@{paginationCustom}">
					<form method="POST" th:action="@{'/videos/listado/' + ${usuario.id}}">
						<select id="VideosPorPagina" name="VideosPorPagina" th:class="@{be-custom-select pull-left}">
						  	<option value="6" th:class="@{color-blue}" selected>...</option>
						  	<option value="todos" th:class="@{color-blue}">Todos</option>
						  	<option value="100" th:class="@{color-blue}">100</option>
						  	<option value="50" th:class="@{color-blue}">50</option>
						  	<option value="40" th:class="@{color-blue}">40</option>
						  	<option value="30" th:class="@{color-blue}">30</option>
						  	<option value="20" th:class="@{color-blue}">20</option>
						  	<option value="10" th:class="@{color-blue}">10</option>
						  	<option value="8" th:class="@{color-blue}">8</option>
						  	<option value="6" th:class="@{color-blue}">6</option>
						  	<option value="4" th:class="@{color-blue}">4</option>
						  	<option value="2" th:class="@{color-blue}">2</option>
						  	<option value="1" th:class="@{color-blue}">1</option>
						</select>
						<input type="submit" name="paginator" id="paginator" class="fa fa-check color-white login-header-block btn color-1 size-2 hover-1 pull-left custom-margin-icon" value="Ir">
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- THE FOOTER -->
	<div th:include="footer :: div"></div>
</body>
</html>
