<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Listado de vídeos</title>
</head>
<body>
	<h1>Listado de Vídeos</h1>

	<div>
		<table border="1">
			<tr>
				<th>Título</th>
				<th>Usuario</th>
				<th>Fecha creación</th>
				<th>Vídeo</th>
			</tr>
			<tr th:each="video : ${videos}">
				<td>
					<p th:text="${video.titulo}"></p>
				</td>
				<td>					
					<a th:href="'/usuarios/' + ${video.usuario.id}" th:text="${video.usuario.nombre} + ' ' + ${video.usuario.apellidos}"></a>
				</td>
				<td>
					<p th:text="${#dates.format(video.creacion, 'dd-MM-yyyy HH:mm')}"></p>
				</td>
				<td>
					<video width="400" controls>
					  <source th:src="'/videos/' + ${video.nombre}">
					</video>				
				</td>
			</tr>
		
		</table>
	</div>

</body>
</html>