<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title>Subida de vídeos</title>
</head>
<body>
	<!-- THE LOADER -->			
	<div th:include="spinner :: body"></div>
	<!-- THE HEADER -->
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
				<div th:class="brand-be">
					<a th:href="@{/login}"><img th:src="@{/img/logo.png}" alt="logo" th:class="be_logo"></a>
				</div>
				<div th:class="header-menu-block">
					<button th:class="@{cmn-toggle-switch cmn-toggle-switch__htx}"></button>
					<ul th:class="header-menu" id="one">
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li><a th:href="@{/videos}">Listas</a></li>
						<li><a th:href="@{/usuarios/perfil}">Perfil</a></li>
						<li th:class="active-header"><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a th:href="@{#}">Suscripción</a></li>
					</ul>
				</div>
				<a th:class="@{login-header-block login_block btn-login btn color-1 size-2 hover-2}" href="/logout">
				<i th:class="@{fa fa-user}"></i>Log out</a>
			</div>
		</div>
	</header>
	<!-- MAIN CONTENT -->
	<div th:class="@{custom-margin}">
		<div th:id="@{content-block}" th:class="@{col-md-6 col-md-offset-4}">
			<form method="POST" enctype="multipart/form-data" action="/videos" th:class="@{custom-margin custom-font}">
				<fieldset>
	    			<legend>Subir Vídeo:</legend>
	    		</fieldset>
				<table th:class="@{custom-font}">
	    			<tr>	
	    				<td th:class="@{custom-td-font}"><span th:class="@{folder}"></span></td>
	    				<td>
	    					<label th:class="@{btn btn-primary}">Selecciona vídeo a subir
								<input type="file" name="video" id="video" hidden="hidden">
		    				</label>
		    			</td>
	    				<td th:class="@{custom-td-font}"><span th:class="@{title}"></span></td>
	    				<td th:class="@{custom-td}">
	    					<label for="titulo">
	    						<input type="text" name="titulo" id="titulo" placeholder="Título del video" required th:class="@{form-control}">
	    					</label>
	    				</td>
		    			<td th:class="@{custom-td-font}"><span th:class="@{upload}"></span></td>
		    			<td>
		    				<label th:class="@{btn btn-primary}">Subir Video
		    					<input type="submit" value="subirvideo" name="subirvideo" id="subirvideo" hidden="hidden">
		    				</label>
		    			</td>
		    		</tr>
		    	</table>
			</form>
		</div>
	</div>
	<div th:include="footer :: div"></div>
</body>
</html>