<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title>Subida de vídeos</title>
</head>
<body>
	<!-- THE LOADER -->			
	<div th:include="spinner :: body"></div>
	<!-- THE HEADER -->
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
				<div th:class="brand-be">
					<a th:href="@{/login}"><img th:src="@{/img/logo.png}" alt="logo" th:class="be_logo"></a>
				</div>
				<div th:class="header-menu-block">
					<button th:class="@{cmn-toggle-switch cmn-toggle-switch__htx}"></button>
					<ul th:class="header-menu" id="one">
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li><a th:href="@{/videos}">Listas</a></li>
						<li><a th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${usuario.id}}">Perfil</a></li>
						<li th:class="active-header"><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a th:href="@{#}">Suscripción</a></li>
					</ul>
				</div>
				<a th:class="@{login-header-block login_block btn-login btn color-1 size-2 hover-2}" href="/logout">
				<i th:class="@{fa fa-user}"></i>Log out</a>
			</div>
		</div>
	</header>
	<!-- MAIN CONTENT -->
	<div th:id="@{content-block}">
		<div th:class="@{container be-detail-container}">
			<div th:class="@{row}">
				<div th:class="@{col-xs-12 col-md-4 left-feild}">
					<div th:class="@{be-user-block style-3}">
						<div th:class="@{be-user-detail}">
							<form method="POST" enctype="multipart/form-data" action="/videos" th:class="@{custom-margin custom-font}" id="subidavideos">
								<div th:class="@{custom-font}">
					    			<div th:class="@{subscribe-form}">
					    				<label th:class="@{btn btn-share color-4 size-2 hover-1}">
					    					<i th:class="@{fa fa-folder}"></i>Seleccionar vídeo
											<input type="file" name="video" id="video" hidden="hidden">
						    			</label>
						    		</div>
						    		<div th:class="@{subscribe-form}">
				    					<label for="titulo">
				    						<input type="text" name="titulo" id="titulo" placeholder="Título del video" required th:class="@{form-control}">
				    					</label>
					    			</div>
					    			<div th:class="@{subscribe-form}">
				    					<label for="descripcion">
				    						<textarea placeholder="Descripción del video" name="descripcion" id="descripcion" th:text="@{''}" th:class="@{form-control form-group-sm}">
				    						</textarea>
				    					</label>
					    			</div>
					    			<div th:class="@{subscribe-form}">
				    					<label for="generos" th:class="@{subscribe-form}">
				    						<i th:class="@{fa fa-music}"></i>
				    						<select name="generos" id="generos" th:class="@{form-control}" multiple>
				    							<option value="0"></option>
				    						</select>
				    					</label>
					    			</div>
					    			<div th:class="@{subscribe-form}">
						    			<label th:class="@{btn btn-share color-1 size-2 hover-1}">
						    				<i th:class="@{fa fa-upload}"></i>Subir Video
						    				<input type="submit" value="subirvideo" name="subirvideo" id="subirvideo" hidden="hidden">
						    			</label>
						    		</div>
						    	</div>
							</form>
						</div>
						<div th:class="be-user-statistic">
							<div th:class="@{stat-row clearfix}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="footer :: div"></div>
</body>
</html>