<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body th:fragment="buscador :: body">
	<div class="buscador login-header-block2 custom-margin-left2">
		<form th:class="@{input-search}" method="POST" th:action="'/videos/' + ${view}">
			<div class="dropdown2">
				<input type="text" placeholder="Buscar..." name="Busqueda" id="Busqueda">
     			<i class="fa fa-search"></i>
     			<input type="submit" name="submit" id="submit">
     			<div th:class="@{dropdown-content2}">
     				<label th:class="custom-right" for="Visualizaciones"> Los + Vistos
     					<input type="checkbox" th:class="@{color-white}" id="Visualizaciones" name="Visualizaciones">
     				</label>
     				<label th:class="custom-right" for="Likes"> Los que + Gustan
     					<input type="checkbox" th:class="@{color-white}" id="Likes" name="Likes">
     				</label>
     				<label th:class="custom-right" for="Titulo"> Por Título
     					<input type="checkbox" th:class="@{color-white}" id="Titulo" name="Titulo">
     				</label>
     				<label th:class="custom-right" for="Descripcion"> Por Descripción
     					<input type="checkbox" th:class="@{color-white}" id="Descripcion" name="Descripcion">
     				</label>
     				<label th:class="custom-right" for="Genero"> Por Género
     					<input type="checkbox" th:class="@{color-white}" id="Genero" name="Genero">
     				</label>
     				<label th:class="custom-right" for="Usuario"> Por Usuario
     					<input type="checkbox" th:class="@{color-white}" id="Usuario" name="Usuario">
     				</label>
     			</div>
     		</div>		
     	</form>
	</div>
</body>
</html>	