<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body th:fragment="buscadorperfil :: body">
	<div th:class="@{dropdown2 login-header-block col-md-2 left-feild pull-left}">
		<form th:class="@{input-search dropdown2}" method="POST" th:action="@{'/usuarios/perfil/buscador/perfilog/' + ${usuario.id} + '/' + ${logueado.id}}">
			<div th:class="dropdown2">
				<input type="text" placeholder="Buscar..." name="Busqueda" id="Busqueda">
		  		<i class="fa fa-search"></i>
		  		<input type="submit" name="submit" id="submit">
		  		<div th:class="@{dropdown-content2}">
					<label th:class="custom-right" for="Visualizaciones"> Los + Vistos
						<input type="checkbox" th:class="@{color-white}" id="Visualizaciones" name="Visualizaciones">
					</label>
					<label th:class="custom-right" for="Likes"> Los que + Gustan
						<input type="checkbox" th:class="@{color-white}" id="Likes" name="Likes">
					</label>
					<label th:class="custom-right" for="Titulo"> Por Título
						<input type="checkbox" th:class="@{color-white}" id="Titulo" name="Titulo">
					</label>
					<label th:class="custom-right" for="Descripcion"> Por Descripción
						<input type="checkbox" th:class="@{color-white}" id="Descripcion" name="Descripcion">
					</label>
					<label th:class="custom-right" for="Genero"> Por Género
						<input type="checkbox" th:class="@{color-white}" id="Genero" name="Genero">
					</label>
		  		</div>
		  	</div>
		</form>
	</div>
</body>
</html>	