<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="div">
	<!-- SCRIPTS	 -->
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>		
	<script type="text/javascript" th:src="@{/js/idangerous.swiper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/isotope.pkgd.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.viewportchecker.min.js}"></script>		
	<script type="text/javascript" th:src="@{/js/global.js}"></script>
	<script type="text/javascript" th:src="@{/js/visualizaciones.js}"></script>
</body>
</html>