<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<title>Formulario de registro</title>
	<!--<link rel="stylesheet" type="text/css" th:href="@{/css/registro.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
	<div th:if="${portal} == 'si'">
		<form th:action="@{/admin/home}" method="get">
	  		<button class="btn btn-md btn-danger btn-block" type="Submit">Volver al Portal</button>
		</form>
	</div>
	<form th:action="@{/}" method="get">
	  <button class="btn btn-md btn-warning btn-block" type="Submit">Ir a la página de Login</button>
	</form>	
	
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		  <form autocomplete="off" action="#" th:action="@{/registro}" th:object="${usuario}" method="post" 
		  	class="form-horizontal" role="form">
		    <h2 class="text-center">Date de Alta</h2>
			  <div class="form-group">
			    <div class="col-sm-12">
				  <input type="text" th:field="*{nombre}" placeholder="Nombre" class="form-control" />
				  <label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message"></label> 
				</div>
			  </div>

			  <div class="form-group">
			    <div class="col-sm-12">
				  <input type="text" th:field="*{apellidos}" placeholder="Apellidos" class="form-control" />
				  <label th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" class="validation-message"></label>
				</div>
			  </div>
				
			  <div class="form-group">
			    <div class="col-sm-12">
				  <input type="text" th:field="*{mail}" placeholder="Mail" class="form-control" />
				  <label th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="validation-message"></label>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <div class="col-sm-12">
				  <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
				  <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
				</div>
			  </div>

			  <div class="form-group">
				<div class="col-sm-12">
				  <button type="submit" class="btn btn-primary btn-block">Registrar Usuario</button>
				</div>
			  </div>
			  
			  <span th:utext="${mensaje}"></span>

		  </form>
	    </div>
	  </div>
	</div>
</body>
</html>