<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
</head>
<body th:fragment="body">
	<!-- THE LOADER -->
	<div th:class="be-loader">
    	<div th:class="spinner">
			<div th:class="@{spinner-container container1}">
		    	<div th:class="circle1"></div>
		    	<div th:class="circle2"></div>
		    	<div th:class="circle3"></div>
		    	<div th:class="circle4"></div>
			</div>
			<div th:class="@{spinner-container container2}">
		    	<div th:class="circle1"></div>
		    	<div th:class="circle2"></div>
		    	<div th:class="circle3"></div>
		    	<div th:class="circle4"></div>
			</div>
			<div th:class="@{spinner-container container3}">
		   		<div th:class="circle1"></div>
		    	<div th:class="circle2"></div>
		    	<div th:class="circle3"></div>
		    	<div th:class="circle4"></div>
 			</div>
		</div>
	</div>
</body>
</html>