<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title>Listado de vídeos</title>
</head>
<body>
	<!-- THE LOADER -->
	<div th:include="spinner :: body"></div>
	
	<!-- THE HEADER -->
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
	
				<!-- THE LOGO -->
				<div th:include="logo :: body"></div>
	
				<!-- THE SEARCH -->
				<div th:include="buscador :: body"></div>		
				
				<!-- THE MENU -->	
				<div th:class="header-menu-block">
					<button th:class="@{cmn-toggle-switch cmn-toggle-switch__htx}"></button>
					<ul th:class="header-menu" id="one">
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li><a th:href="@{/videos}">Listas</a></li>
						<li><a th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${usuario.id}}">Perfil</a></li>
						<li><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a th:href="@{#}">Suscripción</a></li>
					</ul>
				</div>
				
				<!-- THE HELLO USER -->
				<div th:include="hellouser :: body"></div>
			</div>
		</div>
	</header>
	
	<!-- MAIN CONTENT -->
	<div th:id="@{content-block}">
		<div th:class="@{container-fluid custom-container be-detail-container custom-font}">
			<div th:class="@{row}">
				<div th:class="@{col-lg-12 col-md-12 col-sm-12 col-xs-12 col-ml-12 col-xl-4}">
					<div th:class="@{be-post style-5}">
						<div align="center" th:class="@{custom-video bgcolor-black}">
							<video controls th:class="@{be-img-block}">
								<source th:src="'/videos/' + ${video.nombre}">
							</video>
						</div>
						<div th:class="@{be-rowline}">
							<ul>
								<li>
									<a th:class="@{rowline-text}" th:href="@{#}" th:text="${video.titulo}"></a>
									<i th:each="genero : ${video.VideoGeneros}">
	    								<a th:class="@{rowline-text pull-right}" th:href="@{#}" th:text="@{'#' + ${genero.nombre} + ' '}"></a>
	    							</i>
	    						</li>
	    					</ul>
	    				</div>
	    				<div th:class="@{be-rowline}">
	    					<ul>
								<li><a th:class="@{rowline-text}" th:href="@{#}" th:text="${video.descripcion}"></a></li>
							</ul>
						</div>
						<div th:class="@{be-rowline}">
							<i th:class="@{fa fa-calendar}">
								<span th:class="@{custom-td-font}"></span>
								<span th:class="@{rowline-text}" th:text="${#dates.format(video.creacion, 'dd-MM-yyyy HH:mm')}"></span>
							</i>
						</div>
						<div th:class="@{author-post}" th:switch="${video.usuario.foto}"> 
							<a th:case="''" th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${video.usuario.id}}">
								<img th:src="@{/img/ava_10.jpg}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<a th:case="*" th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${video.usuario.id}}">
								<img th:src="@{'/usuarios/fotos/' + ${video.usuario.foto}}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<div th:class="@{pull-right}">
								<a th:if="${gusta}" th:href="@{'/comentarios/' + ${logueado.id} + '/' + ${logueado.id} + '/' + ${video.id} + '/' + ${true} + '/comentarios'}">
									<i th:class="@{stat-icon icon-like-b}"></i>
								</a>
								<a th:if="${!gusta}" th:href="@{'/comentarios/' + ${logueado.id} + '/' + ${logueado.id} + '/' + ${video.id} + '/' + ${false} + '/comentarios'}">
									<i th:class="@{stat-icon icon-like}"></i>
								</a>
								<i th:text="${video.likes}"></i> 
								<i th:if="${video.visualizaciones} == 0">
									<i th:class="@{stat-icon icon-views}"></i>&nbsp;<i th:text="${video.visualizaciones}"></i>
								</i> 
								<i th:if="${video.visualizaciones} > 0">
									<i th:class="@{stat-icon icon-views-b}"></i>&nbsp;<i th:text="${video.visualizaciones}"></i>
								</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form method="POST" th:action="@{'/comentarios/comentarioVideos/' + ${logueado.id} + '/' + ${usuario.id} + '/' + ${video.id}}">
			<i th:class="@{input-col col-xs-12 col-sm-12}">
				<input type="submit" th:class="@{custom-float-right btn color-1 size-2 hover-7}" th:value="@{'Publicar Comentario'}">
				<i th:class="@{form-group focus-2}">
					<i th:class="@{form-label}">Escribe debajo tu comentario...</i>									
					<textarea maxlength="255" th:class="@{form-input}" name="descripcion" id="descripcion" th:placeholder="@{''}" th:text="@{''}">										
					</textarea>
				</i>								
			</i>
		</form>
		<div th:class="@{input-col col-xs-12 col-sm-12}" th:each="comentario : ${comentarios}" th:switch="${comentario.descripcion}">
			<div th:case="''"></div>
			<div th:case="*" th:class="@{be-post style-5}">
				<div th:class="@{author-post}">
					<i th:class="@{rowline-text}" th:text="${comentario.descripcion}"></i>
					<i th:class="@{fa fa-calendar pull-right custom-margin-icon}">
						<span th:class="@{custom-td-font}"></span>
						<span th:class="@{rowline-text}" th:text="${#dates.format(comentario.creacion, 'dd-MM-yyyy HH:mm')}"></span>
					</i>
					<i th:class="@{rowline-text pull-right custom-margin-icon}" th:switch="${comentario.usuario.foto}"> 
						<a th:case="''" th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${comentario.usuario.id}}">
							<img th:src="@{/img/ava_10.jpg}" alt="author" th:class="@{ava-author}">
							<span>by <i th:text="${comentario.usuario.nombre}"></i></span>
						</a>
						<a th:case="*" th:href="@{'/usuarios/perfil/' + ${usuario.id} + '/' + ${comentario.usuario.id}}">
							<img th:src="@{'/usuarios/fotos/' + ${comentario.usuario.foto}}" alt="author" th:class="@{ava-author}">
							<span>by <i th:text="${comentario.usuario.nombre}"></i></span>
						</a>
					</i>
				</div>
			</div>
		</div>
	</div>
	
	<!-- THE FOOTER -->
	<div th:include="footer :: div"></div>
</body>
</html>