<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="bootstrap :: head">
	<meta charset="utf-8" />
	<title>Listado de vídeos</title>
</head>
<body>
	<!-- THE LOADER -->
	<div th:include="spinner :: body"></div>
	
	<!-- THE HEADER -->
	<header>
		<div th:class="@{container-fluid custom-container}">
			<div th:class="@{row no_row row-header}">
	
				<!-- THE LOGO -->
				<div th:include="logo :: body"></div>		
				
				<!-- THE MENU -->
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul th:class="header-menu" id="one">
						<li th:if="${usuario.roles[0].rol} == 'ADMIN'" class="administracion"><a th:href="@{/home/admin}">Administración</a></li>
						<li class="perfil"><a th:href="@{'/usuarios/detalle/no/' + ${logueado.id} + '/' + ${usuario.id}}">Editar Perfil</a></li>
						<li><a th:href="@{/videos/misvideos}">Inicio</a></li>
						<li><a th:href="@{/videos/listado}">Listas</a></li>
						<li><a th:href="@{'/usuarios/perfil/perfilog/' + ${logueado.id}}">Perfil</a></li>
						<li><a th:href="@{/videos/subidaVideos}">Subir Video</a></li>
						<li><a>Suscripción</a></li>
						<li class="exit"><a th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
				
				<!-- THE LOGOUT -->
				<div th:include="logout :: body"></div>
				
				<!-- THE HELLO USER -->
				<div th:class="@{hellouser login-header-block be-drop-down login-user-down}">
					<div th:switch="${usuario.foto}">
						<div th:case="''">
							<img th:class="@{login-user custom-photo-size}" th:src="@{/img/ava_10.jpg}">
							<span th:class="@{color-white}" th:text="@{'Hola, ' + ${logueado.nombre}}"></span>
						</div>
						<div th:case="*">
							<img th:class="@{login-user custom-photo-size}" th:src="@{'/usuarios/fotos/' + ${logueado.foto}}">
							<span th:class="@{color-white}" th:text="@{'Hola, ' + ${logueado.nombre}}"></span>
						</div>
					</div>
					<div th:class="@{color-white}" th:each="rol : ${usuario.Roles}">
						<div th:if="${rol.rol} == 'ADMIN'">
							<span th:class="drop-down-list">
								<a th:href="@{/admin/home}" th:text="@{'Administración'}"></a>
								<a th:href="@{'/usuarios/detalle/no/' + ${logueado.id} + '/' + ${usuario.id}}" th:text="@{'Editar Perfil'}"></a>
							</span>
						</div>
						<div th:if="${rol.rol} != 'ADMIN'">	
							<span th:class="drop-down-list">
								<a th:href="@{'/usuarios/detalle/no/' + ${logueado.id} + '/' + ${usuario.id}}" th:text="@{'Editar Perfil'}"></a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<!-- MAIN CONTENT -->
	<div th:id="@{content-block}">
		<div th:class="@{container-fluid custom-container be-detail-container custom-font}">
			<div th:class="@{row}">
				<div th:class="@{col-lg-12 col-md-12 col-sm-12 col-xs-12 col-ml-12 col-xl-4}">
					<div th:class="@{be-post style-5}">
						<div align="center" th:class="@{custom-video bgcolor-black}">
							<div th:onmouseover="'javascript:Play(\''+${video.id}+'\')'" th:onmouseout="'javascript:Pause(\''+${video.id}+'\')'">
								<video th:id="'v'+${video.id}" controls th:class="@{be-img-block}" th:onended="'javascript:visualizaciones(\''+${video.id}+'\',\''+${video.visualizaciones}+'\')'">
									<source th:src="'/videos/' + ${video.nombre}">
								</video>
							</div>
						</div>
						<div th:class="@{be-rowline}">
							<ul>
								<li>
									<a th:class="@{rowline-text}" th:href="@{#}" th:text="${video.titulo}"></a>
									<i th:each="genero : ${video.VideoGeneros}">
	    								<a th:class="@{rowline-text pull-right}" th:href="@{#}" th:text="@{'#' + ${genero.nombre} + ' '}"></a>
	    							</i>
	    						</li>
	    					</ul>
	    				</div>
	    				<div th:class="@{be-rowline}">
	    					<ul>
								<li><a th:class="@{rowline-text}" th:href="@{#}" th:text="${video.descripcion}"></a></li>
							</ul>
						</div>
						<div th:class="@{be-rowline}">
							<i th:class="@{fa fa-calendar}">
								<span th:class="@{custom-td-font}"></span>
								<span th:class="@{rowline-text}" th:text="${#dates.format(video.creacion, 'dd-MM-yyyy HH:mm')}"></span>
							</i>
							<a th:href="@{'mailto:'+ ${mailadmin}}">
								<img th:class="@{stat-icon pull-right}" th:src="@{/img/block-16x16.png}" alt="Denunciar video">
							</a>
						</div>
						<div th:class="@{be-rowline row}">
							<div class="sharethis-inline-share-buttons"></div>
						</div>
						<div th:class="@{author-post}" th:switch="${video.usuario.foto}"> 
							<a th:case="''" th:href="@{'/usuarios/perfil/' + ${view} + '/' + ${video.usuario.id}}">
								<img th:src="@{/img/ava_10.jpg}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<a th:case="*" th:href="@{'/usuarios/perfil/' + ${view} + '/' + ${video.usuario.id}}">
								<img th:src="@{'/usuarios/fotos/' + ${video.usuario.foto}}" alt="author" th:class="@{ava-author}">
								<span>by <i th:text="${video.usuario.nombre}"></i></span>
							</a>
							<div th:class="@{pull-right}">
								<a class="megusta" th:if="${gusta} == true" th:onclick="'javascript:likes(\''+${logueado.id}+'\',\''+${video.id}+'\')'">
									<i th:id="'t'+${video.id}" th:class="@{stat-icon icon-like-b}"></i>
									<i th:id="'f'+${video.id}"></i>
								</a>									
								<a class="megusta" th:if="${gusta} == false" th:onclick="'javascript:likes(\''+${logueado.id}+'\',\''+${video.id}+'\')'">
									<i th:id="'t'+${video.id}"></i>
									<i th:id="'f'+${video.id}" th:class="@{stat-icon icon-like}"></i>
								</a>
								<i th:id="${video.id}" th:text="${video.likes}"></i> 
								<i th:if="${video.visualizaciones} == 0">
									<i th:id="'i'+${video.id}" th:class="@{stat-icon icon-views}"></i>&nbsp;<i th:id="@{'visitInicio'+${video.id}}" th:text="0"></i>
								</i> 
								<i th:if="${video.visualizaciones} > 0">
									<i th:class="@{stat-icon icon-views-b}"></i>&nbsp;<i th:id="@{'visitInicio'+${video.id}}" th:text="${video.visualizaciones}"></i>
								</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form method="POST" th:action="@{'/comentarios/comentarioVideos/' + ${logueado.id} + '/' + ${usuario.id} + '/' + ${video.id}}" class="custom-margin-icon2">
			<div class="g-recaptcha" data-sitekey="6LdTD1sUAAAAADIZ34RKbo881dd5D5LRuK2KMTCe"></div>
			<input type="submit" th:class="@{btn color-1 size-2 hover-4 pull-right}" th:value="@{'Publicar Comentario'}">
			<div th:class="@{custom-margin-icon2 form-group focus-2}">
				<i th:class="@{form-label}">Escribe debajo tu comentario...</i>									
				<textarea maxlength="255" th:class="@{form-input}" name="descripcion" id="descripcion" th:placeholder="@{''}" th:text="@{''}">										
				</textarea>
			</div>
		</form>
		<div th:class="@{content-block custom-margin-icon2}" th:each="comentario : ${comentarios}" th:switch="${comentario.descripcion}">
			<div th:case="''"></div>
			<div th:case="*" th:class="@{be-post style-5 custom-margin-top}">
				<div th:class="@{author-post}">
					<i th:class="@{rowline-text}" th:text="${comentario.descripcion}"></i>
					<i th:class="@{fa fa-calendar pull-right custom-margin-icon}">
						<span th:class="@{custom-td-font}"></span>
						<span th:class="@{rowline-text}" th:text="${#dates.format(comentario.creacion, 'dd-MM-yyyy HH:mm')}"></span>
					</i>
					<i th:class="@{rowline-text pull-right custom-margin-icon}" th:switch="${comentario.usuario.foto}"> 
						<a th:case="''" th:href="@{'/usuarios/perfil/'  + ${view} + '/' + ${comentario.usuario.id}}">
							<img th:src="@{/img/ava_10.jpg}" alt="author" th:class="@{ava-author}">
							<span>by <i th:text="${comentario.usuario.nombre}"></i></span>
						</a>
						<a th:case="*" th:href="@{'/usuarios/perfil/'  + ${view} + '/' + ${comentario.usuario.id}}">
							<img th:src="@{'/usuarios/fotos/' + ${comentario.usuario.foto}}" alt="author" th:class="@{ava-author}">
							<span>by <i th:text="${comentario.usuario.nombre}"></i></span>
						</a>
					</i>
				</div>
			</div>
		</div>
	</div>
	
	<!-- THE FOOTER -->
	<div th:include="footer :: div"></div>
</body>
</html>